 * {
  
padding: 0px;
margin: 0px;
color: white;

} 

body {
    background-color: rgba(218, 182, 182, 0.525);
    text-align: left;

}
.header-section{
    height: 200px;
    background-color: rgb(23, 15, 31);
    padding: 2px;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}


.container{
    padding-left: 15%;
    padding-right: 15%;
}
.nav-items{
    display: flex;
    flex-direction: row;
}
.nav-items li{
    padding: 5px;
}

p {
    max-width: 320px;
    float: left;
    border: 3px thin;
    margin-right: 15px;
}

 .text-boxe {
    color: rgba(240, 248, 255, 0.946);
 } 
  
 .text-boxe h2{
    font-size: 42px;
 }

 .text-boxe p {
    font-size: 16px;
}
button {
    background-color: rgba(0, 170, 255, 0.917);
    align-items: left;
   
}


